  <div class="comment">
    <span class="label label-info"><%= link_to comment.user.username, comment.user %></span>
    <p>
      <%= comment.body %><br>
      <%= link_to 'parent', link_comments_path(comment.link) %>
      | <%= link_to 'reply', new_link_comment_path(comment.link, :parent_id => comment), :remote => true %>
      | <%= time_ago_in_words(comment.created_at) %>
    </p>
    <div id="reply_<%= comment.id %>">
    </div>
  </div>
