  <tr class="<%= link_counter % 2 == 0 ? "even" : "odd" %>">
    <td><%= link.title %></td>
    <td><%= link.body %></td>
    <td><%= link.link %></td>
    <td><%= link.user.username %></td>
    <td><%= link_to 'Comments', link_comments_path(link) %></td>
    <td><%= link_to 'Edit', edit_link_path(link) %></td>
    <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
