<!DOCTYPE html>
<html>
<head>
  <title>Circled</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to 'Circled', root_path, html_options = { class: "brand" } %>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <% if @current_user %>
              <li><%= link_to @current_user.username, users_path %></li>
              <li><%= link_to 'Submit Link', new_link_path %></li>
              <li>
                <%= form_tag(logins_path, { :method => "delete", :class => "navbar-form"}) do %>
                  <%= submit_tag("Log Out") %>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to 'Log In', logins_path %></li>
              <li><%= link_to 'Register',new_user_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">
        <% if flash[:notice] %>
          <p id="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
          <p id="error"><%= flash[:error] %></p>
        <% end %>
      </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; Nobody 2012</p>
    </footer>

  </div> <!-- /container -->


</body>
</html>
