<!DOCTYPE html>
<html>
<head>
  <title>Circled</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to 'Circled', root_path %></h1>
<hr>

<% if @current_user %>
  <p>Welcome, <%= link_to @current_user.username, users_path %></p>
  <%= form_tag(logins_path, :method => "delete") do %>
    <div class="actions">
      <%= submit_tag("Log Out") %>
    </div>
  <% end %>

<% else %>
  <p><%= link_to 'Log In', logins_path %> | <%= link_to 'Register', new_user_path %></p>
<% end %>

<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p id="error"><%= flash[:error] %></p>
<% end %>

<%= yield %>

</body>
</html>
